<div class="card bd-light calendar" style="max-width: 35rem;">
  <div class="card-header topevents">Google Calendar</div>
  <div class="card-body">
    <h5 class="card-title"><i class="fa fa-search" aria-hidden="true"></i> Search for an event</h5>
    <div id="google-events"></div>
    <div class="text-right">
      <input type="text" id="google-search" class="form-control">
    </div>
    <div style="overflow-y: scroll; height: 500px;">
      {{#each google}}
      <span id="eventDraggableDiv__{{ id }}" class="eventDraggableDiv align-items-start">
        <div id="droppableGoogleDiv__{{ id }}"
          class="droppableGoogleDiv list-group list-group-item list-group-item-action flex-column align-items-start">
          <button id="googleEventDeleteButton__{{ id }}" type="button" class="close googleEventDeleteButton"
            data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <b>
            <p id="eventDraggableMessage__{{ id }}"><span class="messageText">{{ description }}</span></p>
          </b>
          <p class="usertitle"><i class="fa fa-user-circle-o"
              aria-hidden="true"></i><span>&nbsp;&nbsp;{{ creator }}</span></p>
          Action Items:
          <div id="droppableGoogleDivNoteArea__{{ id }}" class="droppableGoogleDivNoteArea"></div>
          <br>
          <p class="datetime">Date Created: {{ createdAt }}</p>
        </div>
      </span>
      {{/each}}
      </div>
  </div>
</div>
